@page "/adminpage"
@using BlazorApp.ApiRequest
@inject CurrentUser CurrentUser;
@inject NavigationManager Nav

@if (!CurrentUser.IsLoggedIn || CurrentUser.CurrentRole != "Admin")
{ 
    Nav.NavigateTo("/");
    return;
}

<a href="/editusers">Редактирование пользователей</a>

@code {
    
}