@page "/editusers"
@using BlazorApp.ApiRequest
@using BlazorApp.ApiRequest.Model
<PageTitle>Редактирование пользователей</PageTitle>

<div class="cards">
    @foreach (var user in users)
    {
        <div class="card">
            <p>Имя: @user.UserName</p>
            <p>Почта: @user.Mail</p>
            <p>Пароль: @user.Password</p>
            <p>Роль: @user.Role</p>
            <div class="card-buttons">
                <button class="btn-edit" ...>Редактировать</button>
                <button class="btn-delete" ...>Удалить</button>
            </div>
        </div>
    }
</div>

@code {
    private List<UserDataShort> users = new();
    [Inject] private RequestApi _apiRequest { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetAllUsers();
    }

    private async Task GetAllUsers()
    {
        var userData = await _apiRequest.GetAllUsersAsync();
        //users = userData.data.users ?? new List<UserDataShort>();
        users = userData?.data?.users ?? new List<UserDataShort>();
    }
}
